<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>zal</title>
    <link rel="stylesheet" href="{% static 'styles/style.css' %}" >
</head>
<body>
    <nav class="navigation">
    <p class="startup">Startup</p>
        <ul>
            <li>Contact</li>
            <li>Clients</li>
            <li>Blog</li>
            <li>Works</li>
            <li>About</li>
            <li>Services</li>
            <li>Home</li>
        </ul>
    </nav>
    <h1 class="welcome">Welcome to startup</h1>
    <p class="agency">Your Favourite Creative Agency Template</p>
    <button class="started">Get started</button>
</body>
</html>